* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	font-family: "Roboto", sans-serif;
}
a {
	text-decoration: none;
	color: currentColor;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
